<div class="info-edit-bar">
    <input type="button" (click)="clearInfoBlock()" class="info-block-clear hidden" title="Clear">
    <input type="button" (click)="editInfoBlock()" class="edit-buttons info-block-edit hidden" title="Edit">
</div>
<div class="info">
    <h2 class="name">{{userServise.showFirstName()}} {{userServise.showLastName()}}</h2>
    <hr color="blueviolet" width="100%">
    <h3 class="contacts">Contacts</h3>
    <hr color="blueviolet" width="100%">
    <p class="address"><b>Address:</b>&#160;{{userServise.showAddress()}}</p>
    <p class="phone"><b>Phone:</b>&#160;{{userServise.showPhone()}}</p>
    <p class="skype"><b>Skype:</b>&#160;{{userServise.showSkype()}}</p>
    <p class="email"><b>E-mail:</b>&#160;{{userServise.showEmail()}}</p>
    <p class="telegram"><b>Telegram:</b>&#160;{{userServise.showTelegram()}}</p>
    <p class="facebook"><b>Facebook:</b>&#160;<a href={{userServise.showFacebook()}} target="_blank">{{userServise.showFacebook()}}</a></p>
    <p class="linkedIn"><b>LinkedIn:</b>&#160;<a href={{userServise.showLinkedin()}} target="_blank">{{userServise.showLinkedin()}}</a></p>
    <hr color="blueviolet" width="100%">
    <h3 class="contacts"><b>Number of projects:&#160;
        <span *ngIf="userServise.projectArray.length > 0">{{ userServise.projectArray.length }}</span>
        <span *ngIf="userServise.projectArray.length <= 0">"none"</span>
    </b></h3>
    <hr color="blueviolet" width="100%">
</div>
<form class="info-edit-form none">
    <label for="firstName">Name:
        <input type="text" id="firstName" [value]="firstName" placeholder="Write your name here...">
    </label>
    <label for="lastName">Surname: 
        <input type="text" id="lastName" [value]="lastName" placeholder="Write your surname here...">
    </label>
    <label for="address">Address:
        <input type="text" id="address" [value]="address" placeholder="Write your address here...">
    </label>
    <label for="phone">Phone:
        <input type="text" id="phone" [value]="phone" placeholder="Write your phone number here...">
    </label>
    <label for="skype">Skype:
        <input type="text" id="skype" [value]="skype" placeholder="Write your skype here...">
    </label>
    <label for="email">E-mail:
        <input type="text" id="email" [value]="email" placeholder="Write your email here...">
    </label>
    <label for="telegram">Telegram:
        <input type="text" id="telegram" [value]="telegram" placeholder="Write your telegram here...">
    </label>
    <label for="facebook">Facebook:
        <input type="text" id="facebook" [value]="facebook" placeholder="Write your facebook here...">
    </label>
    <label for="linkedin">LinkedIn:
        <input type="text" id="linkedin" [value]="linkedin" placeholder="Write your linkedIn here...">
    </label>
    <div class="info-form-bar">
        <input class="info-form-confirm" (click)='confirmChangesInfo()' type="button" value="Confirm">
        <input class="info-form-reject" (click)='rejectChangesInfo()' type="button" value="Reject">
    </div>
</form>
